{{#*inline "page"}}
<h2><p>{{title}}</p></h2>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div>
    <canvas id="myChart"></canvas>
</div>


<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->

<script src="/js/chart.js"></script>
<script>

    console.log("hello?");

    const chart_columns = '{{chart_columns}}';
    // console.log("chart_columns: " + chart_columns);
    const json_columns = JSON.parse(chart_columns.replace(/&quot;/g, '\"'));
    console.log("json_columns: " + json_columns);


    const chart_data = "{{chart_data}}";
    let json_chart = JSON.parse(chart_data.replace(/&quot;/g, '\"'));
    console.log("chart_data: " + json_chart);


    var chart_data_array = [];

    json_chart.forEach(function (x){
        // console.log("key:" + x.key);
        // console.log("val:" + x.val);
        chart_data_array.push({label: x.key, data: x.val});

    });


    const ctx = document.getElementById('myChart');
       const data = {
           labels: json_columns, // dates,
           datasets: chart_data_array,
       };


    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,   // resize to fit browser window
            interaction: {
                mode: 'index',
                intersect: false,
            },
            stacked: false,
            plugins: {
                title: {
                    display: true,
                    text: 'Profit (Dollars)'
                }
            },
            scales: {
                y: {
                    type: 'linear',
                    display: true,
                    position: 'right',
                },
                // y1: {
                //     type: 'linear',
                //     display: true,
                //     position: 'left',
                //
                //     // grid line settings
                //     grid: {
                //         drawOnChartArea: false, // only want the grid lines for one axis to show up
                //     },
                // },
            }
        }
    };

    new Chart(ctx, config);

</script>

<br>

{{/inline}}
{{> (lookup this "parent")}}