{{#*inline "page"}}
<h2><p>{{title}}</p></h2>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div>
    <canvas id="chart_0"></canvas>
    <br>
    <canvas id="chart_1"></canvas>
</div>


<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->

<script src="/js/chart.js"></script>
<script>

    // net profit
    const chart_0_columns = '{{chart_0_columns}}';
    const json_0_columns = JSON.parse(chart_0_columns.replace(/&quot;/g, '\"'));
    const chart_0_data = "{{chart_0_data}}";
    let json_0_chart = JSON.parse(chart_0_data.replace(/&quot;/g, '\"'));
    let chart_0_data_array = [];
    json_0_chart.forEach(function (x){
        chart_0_data_array.push({label: x.key, data: x.val});

    });

    const ctx_0 = document.getElementById('chart_0');
    const data_0 = {
        labels: json_0_columns, // dates,
        datasets: chart_0_data_array,
    };

    const config_0 = {
        type: 'line',
        data: data_0,
        options: {
            responsive: true,   // resize to fit browser window
            interaction: {
                mode: 'index',
                intersect: false,
            },
            stacked: false,
            plugins: {
                title: {
                    display: true,
                    text: 'Net Transaction Profit'
                }
            },
            scales: {
                y: {
                    type: 'linear',
                    display: true,
                    position: 'right',
                },
            }
        }
    };


    // average profit per transaction
    const chart_1_columns = '{{chart_1_columns}}';
    const json_1_columns = JSON.parse(chart_1_columns.replace(/&quot;/g, '\"'));
    const chart_1_data = "{{chart_1_data}}";
    let json_1_chart = JSON.parse(chart_1_data.replace(/&quot;/g, '\"'));
    let chart_1_data_array = [];
    json_1_chart.forEach(function (x){
        chart_1_data_array.push({label: x.key, data: x.val});

    });

    const ctx_1 = document.getElementById('chart_1');
    const data_1 = {
        labels: json_1_columns, // dates,
        datasets: chart_1_data_array,
    };

    const config_1 = {
        type: 'line',
        data: data_1,
        options: {
            responsive: true,   // resize to fit browser window
            interaction: {
                mode: 'index',
                intersect: false,
            },
            stacked: false,
            plugins: {
                title: {
                    display: true,
                    text: 'Average Transaction Profit'
                }
            },
            scales: {
                y: {
                    type: 'linear',
                    display: true,
                    position: 'right',
                },
            }
        }
    };

    new Chart(ctx_0, config_0);
    new Chart(ctx_1, config_1);

</script>

<br>

{{/inline}}
{{> (lookup this "parent")}}