{{#*inline "page"}}
<h2><p>{{title}}</p></h2>
<p>{{message}}</p>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<br>
<table>
    <tr>
        <td>Symbol</td>
        <td>qty</td>
        <td>qty</td>
        <td>qty_available</td>
        <td>avg_entry_price</td>
        <td>side</td>
        <td>market_value</td>
        <td>cost_basis</td>
        <td>unrealized_pl</td>
        <td>unrealized_plpc</td>
        <td>unrealized_pl</td>
        <td>unrealized_intraday_pl</td>
        <td>unrealized_intraday_plpc</td>
        <td>current_price</td>
        <td>lastday_price</td>
        <td>change_today</td>
        <td>dtg</td>
    <tr>
    {{#each data}}
    <tr>
        <td><a href="https://finance.yahoo.com/chart/{{this.symbol}}">{{this.symbol}}</a></td>
        <td>{{this.qty}}</td>
        <td>{{this.qty}}</td>
        <td>{{this.qty_available}}</td>
        <td>{{this.avg_entry_price}}</td>
        <td>{{this.side}}</td>
        <td>{{this.market_value}}</td>
        <td>{{this.cost_basis}}</td>
        <td>{{this.unrealized_pl}}</td>
        <td>{{this.unrealized_plpc}}</td>
        <td>{{this.unrealized_pl}}</td>
        <td>{{this.unrealized_intraday_pl}}</td>
        <td>{{this.unrealized_intraday_plpc}}</td>
        <td>{{this.current_price}}</td>
        <td>{{this.lastday_price}}</td>
        <td>{{this.change_today}}</td>
        <td>{{this.dtg}}</td>
    </tr>
    {{/each}}
</table>
{{/inline}}
{{> (lookup this "parent")}}